.formItems {
  display: flex;
  flex-direction: column;
}
.form {
  padding: 20px;
}

.form select {
  padding: 4px;
  margin: 10px 5px;
  width: 10%;
}

.form label {
  font-weight: bolder;
  padding: 5px;
  width: 200px;
  display: inline-block;
  margin-top: 10px;
}

.form input {
  display: inline-block;
  padding: 5px;
  margin: 10px 5px;
  width: 70%;
}

.form button {
  padding: 5px;
  color: red;
  font-weight: bolder;
  align-items: center;
  margin-top: 20px;
  float: right;
}

.inputError {
  border-color: red;
}

.error {
  color: red;
  font-weight: bold;
  display: block;
  font-size: 12px;
  margin-left: 210px;
}
