.nav {
  background-color: gray;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  overflow: hidden;
  width: 100%;
  border-bottom: 2px solid rgb(22, 22, 134);
}

.logo {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  background: rgb(173, 173, 173);
  color: black;
  float: left;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
